In [1]:
import numpy as np 
import pandas as pd

C:\Users\abhinav.aggarwal\AppData\Local\Temp\ipykernel_13920\200606040.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = pd.read_csv('movies_sentiment_data.csv')

In [4]:
import spacy

In [5]:
df.columns

Index(['review', 'sentiment'], dtype='object')

In [7]:
df.shape

(19000, 2)

In [9]:
nlp = spacy.load("en_core_web_sm")

In [12]:
df = df.head(150)

In [13]:
for i in range(df.shape[0]):
    doc = nlp(df['review'][i])
    for j in range(len(doc)):
        if(doc[j].lemma_ != doc[j]):
            word = str(doc[j].lemma_)
            df['review'][i][j] == word

In [14]:
df

                                                review sentiment
0    I first saw Jake Gyllenhaal in Jarhead (2005) ...  positive
1    I enjoyed the movie and the story immensely! I...  positive
2    I had a hard time sitting through this. Every ...  negative
3    It's hard to imagine that anyone could find th...  negative
4    This is one military drama I like a lot! Tom B...  positive
..                                                 ...       ...
145  Throw Momma hasn't dated at all, it's as funny...  positive
146  I had read many good things about this adaptat...  negative
147  I recently bought this movie for three bucks a...  positive
148  This film was hard to get a hold of, and when ...  negative
149  This is one heck of a sleazy film. Like so man...  negative

[150 rows x 2 columns]